* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Debugging */
/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
a {
    text-decoration: none;
}




/* Media query breakpoints */

/* Extra small devices - portrait phones */
@media (max-width: 575px) {
}

/* Small devices - Landscape phones */
@media (max-width: 767px) {
}

/* Medium devices - Tablets */
@media (max-width: 991px) {
}

/* Large devices - Desktops */
@media (max-width: 1199px) {
}
